<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>com.addpost.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGraph</servlet-name>
        <servlet-class>com.graph.ViewGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGraph</servlet-name>
        <url-pattern>/ViewGraph</url-pattern>
    </servlet-mapping>
   
</web-app>
